<p id="notice"><%= notice %></p>

<p>
  <strong>Signature:</strong>
  <%=image_tag @document.signature %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
